li {
  list-style: none;
}
.header {
  background-color: rgb(242, 244, 247);
  height: 100px;
}
.header-logo {
  font-size: 50px;
  float: left;
  padding: 15px 20px;
}
.header-list li {
  padding: 40px 20px;
  float: right;
}

.main {
  background-color: rgb(192, 220, 245);
  height: 1000px;
}
.myphoto {
 /*text-align: left;
 position: relative;
  top: 10px;
  right: 600px;*/
}

.contents-item{
  float:left;
  padding:10px;
  width:350px;
}
span {
  color: blueviolet;
}
.name {
  font-size: 70px;
  border-bottom: 1px solid rgb(235, 242, 243);
  mar
}
.footer {
  background-color: aquamarine;
  height: 200px;
}
.footer-logo {
  font-size: 50px;
}
.footer-list li {
}
